body{
    background-color:#9f0000;
}
@font-face {
    font-family: 'Relationship of Melodrame';
    src: url('fonts/relationship-of-melodrame.ttf') format('truetype');
}
header{
    color:#ffffee;
    font-family: 'Relationship of Melodrame';
}
h1{
    font-size: 48px;
}
main{
    color:#ffffee;
    font-family:Arial, Helvetica, sans-serif;
}